<div class="panel panel-default">
  <div class="panel-heading">
    <span>
      <input type="text" value="TODO: search"/>
      <input type="text" value="TODO: sorting"/>
    </span>
  </div>
  <div class="panel-body">
    <table width="100%" class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th></th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Nickname</th>
          <th>Birthdate</th>
          <th>Sex</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of people; let i = index"  (click)="viewPerson(person)">
          <td>{{i+1}}</td>
          <td>{{person.first_name}}</td>
          <td>{{person.last_name}}</td>
          <td>{{person.nickname}}</td>
          <td>{{person.birthdate | date : "yyyy-MM-dd"}}</td>
          <td>{{person.gender}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
